<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <a ui-sref="users.create" class="btn btn-success" style="margin: 10px 0;">
              <i class="fa fa-plus "></i> Create new user
            </a>
          </div>

          <div class="col-sm-6">
            <label style="float: right;">
              Search:<input ng-model="$ctrl.search" type="search" class="form-control input-sm">
            </label>
          </div>
        </div>
        <div class="table-responsive">

          <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
              <th ng-click="$ctrl.order('firstName')">
                First Name
                <i ng-class="{'fa-long-arrow-up': !$ctrl.reverse, 'fa-long-arrow-down': $ctrl.reverse,}"
                   ng-show="$ctrl.predicate === 'firstName'" class="fa"></i>
              </th>
              <th ng-click="$ctrl.order('lastName')">
                Last Name
                <i ng-class="{'fa-long-arrow-up': !$ctrl.reverse, 'fa-long-arrow-down': $ctrl.reverse,}"
                   ng-show="$ctrl.predicate === 'lastName'" class="fa"></i>
              </th>
              <th ng-click="$ctrl.order('email')">
                Email
                <i ng-class="{'fa-long-arrow-up': !$ctrl.reverse, 'fa-long-arrow-down': $ctrl.reverse,}"
                   ng-show="$ctrl.predicate === 'email'" class="fa"></i>
              </th>
              <th>Gender</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr user-item user="user"
                ng-repeat="user in $ctrl.users | orderBy:$ctrl.predicate: $ctrl.reverse | filter: $ctrl.search">
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>