<div id="page-wrapper-login">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default" style="min-height: 275px;">
        <div class="panel-heading text-center">
          Snayps Mail Application
        </div>
        <div class="panel-body">
          <div class="row">

            <div class="col-lg-12">
              <form name="formLogin" class="form-signin" ng-submit="$ctrl.login()">
                <div class="form-group">
                  <input type="email" ng-model="$ctrl.email" class="form-control" placeholder="Email address" required>
                </div>
                <div class="form-group">
                  <input type="password" ng-model="$ctrl.password" class="form-control" placeholder="Password" required>
                </div>
                <button ng-disabled="formLogin.$invalid"
                        type="submit"
                        class="btn btn-lg btn-info btn-block">Sign in
                </button>
              </form>

              <br/>
              <loader show="$ctrl.progressAuth"></loader>

              <div class="alert alert-danger" role="alert" ng-if="$ctrl.error && !$ctrl.progressAuth">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <span class="sr-only">Error:</span>
                {{$ctrl.error}}
              </div>
              <div class="alert alert-danger" ng-messages="formLogin.email.$error"
                   ng-if="formMessage.email.$invalid && formMessage.email.$dirty">
                <div ng-message="required">You did not enter your email address.</div>
                <div ng-message="email">Your email address doesn't valid.</div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
