<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-responsive" ng-if="$ctrl.messages">
          <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
            <tr>
              <th>Email</th>
              <th>Subject</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr message-item message="message"
                ng-repeat="message in $ctrl.messages | filter: {type: $ctrl.typeMessage}">
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>