<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="panel panel-primary text-center no-boder bg-color-green green">
            <div class="panel-left pull-left green">
                <i class="fa fa-mail-reply fa-5x"></i>

            </div>
            <div class="panel-right">
                <h3>{{$ctrl.countInboxes}}</h3>
                <strong> Inbox</strong>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="panel panel-primary text-center no-boder bg-color-blue">
            <div class="panel-left pull-left blue">
                <i class="fa fa-mail-forward fa-5x"></i>
            </div>

            <div class="panel-right">
                <h3>{{$ctrl.countOutboxes}} </h3>
                <strong> Outbox</strong>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="panel panel-primary text-center no-boder bg-color-red">
            <div class="panel-left pull-left red">
                <i class="fa fa-users fa-5x"></i>

            </div>
            <div class="panel-right">
                <h3>{{$ctrl.countUsers}}</h3>
                <strong> Users</strong>
            </div>
        </div>
    </div>
</div>