<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default" >
            <div class="panel-body" >

                <div class="alert alert-success" ng-if="!$ctrl.users">
                    <strong>In progress...</strong>
                </div>

                <div class="table-responsive" ng-if="$ctrl.users">
                    <a ui-sref="users-create" class="btn btn-success" style="margin: 10px 0;">
                        <i class="fa fa-plus "></i> Create new user
                    </a>
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr user-item user="user" index="{{$index}}" ng-repeat="user in $ctrl.users">
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>